#navbar {
  float: left;
  width: 20%;
  position: fixed;
}

main{
  width:75%;
  float:right;
  border-left: 3px solid black;
  padding-left: 3em;
}

body{
  font-size: 1.3em;
}

@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

.main-section{
  margin-bottom: 1.3em;
}

.main-section header{
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

code{
  background-color: AntiqueWhite;
}
